<h1 class="text-center">Sections</h1>

<div class="row">
  <% @auth_sections.each do |section| %>
    <div class="card border-primary mb-3 controlPanelCards w-25 m-3">
      <div class="card-body">
        <h3 class="card-title"><%= section.title %></h3>
        <hr>
        
    <div class="col-lg-3 col-md-6 pb-3 mx-1 w-100">
      <div class="accordion" id="<%= section.title.delete(" ") %>Accordian">

        <div class="row">
          <div class="col">
            <h3>Pages</h3>
          </div> 
          <div class="col">
            <%= link_to "+", new_auth_page_path(section), class: "btn btn-primary float-end p-1" %>
          </div>
        </div>
        <div class="rounded-5 bg-secondary-subtle p-2 m-4">
          
          
          <div id="<%= section.title.delete(" ") %>Collapse" class="" aria-labelledby="<%= section.title.delete(" ") %>Heading" data-bs-parent="#<%= section.title.delete(" ") %>Accordian">
            <div class="">

              <% if section.visible %>
              
              <% else %>
              <p>
                Visible: <svg  xmlns="http://www.w3.org/2000/svg"  width="16"  height="16"  fill="currentColor"  class="bi bi-x-circle-fill text-danger"  viewBox="0 0 16 16">
                  <path  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                </svg>
              </p>
              <% end %>
              <!--<div class="text-center pb-3">
                <%= link_to 'View', auth_section_path(section), class: "btn btn-outline-primary" %>
                <%= link_to 'Edit', edit_auth_section_path(section), class: "btn btn-outline-warning" %>
                <%= link_to 'Delete', auth_section_path(section), class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>-->
              <% if !section.pages.empty? %>
              <div class="" id="<%= section.title.delete(" ") %>pagesAccordion">
                <div class="container">
                  
                  <div class="list-group">
                    
                    
                  
                    <% section.pages.each do |page| %>
                     
                      <%@view=false%>
                      <%@edit=false%>
                      <%@delete=false%>
                      <%@user.roles.each do |r|%>

                        <%r.permissions.each do |p|%>

                          <%if p.permissible_type == "Page"%>

                            
                            <%if p.permissible_id== page.id%>

                              <%if p.canRead%>

                                <% @view = true %>

                              <%end%>

                              <%if p.canUpdate%>

                                <% @edit = true %>

                              <%end%>

                              <%if p.canDelete%>

                                <% @delete = true %>

                              <%end%>

                            
                            <%elsif p.allRecords == true%>

                              <%if p.canRead%>

                                <% @view = true %>

                              <%end%>

                              <%if p.canUpdate%>

                                <% @edit = true %>

                              <%end%>

                              <%if p.canDelete%>

                                <% @delete = true %>

                              <%end%>

                            <%end%>


                          <%end%>
                          
                        <%end%>
                        
                      <%end%>

                      <%if @view%>
                        <%= link_to page.title, auth_page_path(page), class: "list-group-item list-group-item-action  bg-secondary-subtle rounded-4 border border-primary-subtle m-1" %>
                      <%end%>        
                      
                      
                    <% end %>
                  </div>
                </div>
              </div>
              <% else%>
                <h5 class="text-danger">No Pages</h5>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="button">
      <%= link_to "View", auth_section_path(section), class: "btn btn-primary translate-middle viewButton" %>
    </div>  
      </div>
    </div>
  <% end %>
</div>

<div class="text-center p-3">
  <%= link_to "Back to Control Panel", auth_site_panel_url, class: "btn btn-primary" %>
  <%= link_to 'New Section', new_auth_section_path, class: "btn btn-primary" %>
  <%= link_to 'New Page', new_auth_page_path, class: "btn btn-primary" %>
</div>