<div class="row pb-3 border-bottom-permission">
  <div class="col text-center border-end-permission">
    <h1>Role</h1>
    <p class="fs-2"><%= @permission.role.title %></p>
  </div>
  <div class="col text-center">
    <h1>Type</h1>
    <p class="fs-2"><%= @permission.permissible_type %></p>
  </div>
  <% if !@permission.allRecords %>
  <div class="col text-center border-start-permission">
    <h1>Section</h1>
    <p class="fs-2"><%= @permission.permissible.title %></p>
  </div>
  <% end %>
</div>

<div class="row pt-3">

  <% if @permission.allRecords %>
  <div class="col text-center border-end-permission">
    <h3>Create new <%= @permission.permissible_type %>s</h3>
    <% if @permission.canCreate %>
    <svg xmlns="http://www.w3.org/2000/svg" width="35%" height="35%" fill="currentColor" class="bi bi-check-circle-fill text-success" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </svg>
    <% else %>
    <svg xmlns="http://www.w3.org/2000/svg" width="35%" height="35%" fill="currentColor" class="bi bi-x-circle-fill text-danger" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
    </svg>
    <% end %>
  </div>
  <div class="col text-center border-end-permission">
    <h3>View all <%= @permission.permissible_type %>s</h3>
    <% if @permission.canRead %>
    <svg xmlns="http://www.w3.org/2000/svg" width="35%" height="35%" fill="currentColor" class="bi bi-check-circle-fill text-success" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </svg>
    <% else %>
    <svg xmlns="http://www.w3.org/2000/svg" width="35%" height="35%" fill="currentColor" class="bi bi-x-circle-fill text-danger" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
    </svg>
    <% end %>
  </div>
  <div class="col text-center border-end-permission">
    <h3>Update all <%= @permission.permissible_type %>s</h3>
    <% if @permission.canUpdate %>
    <svg xmlns="http://www.w3.org/2000/svg" width="35%" height="35%" fill="currentColor" class="bi bi-check-circle-fill text-success" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </svg>
    <% else %>
    <svg xmlns="http://www.w3.org/2000/svg" width="35%" height="35%" fill="currentColor" class="bi bi-x-circle-fill text-danger" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
    </svg>
    <% end %>
  </div>
  <div class="col text-center">
    <h3>Delete all <%= @permission.permissible_type %>s</h3>
    <% if @permission.canDelete %>
    <svg xmlns="http://www.w3.org/2000/svg" width="35%" height="35%" fill="currentColor" class="bi bi-check-circle-fill text-success" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </svg>
    <% else %>
    <svg xmlns="http://www.w3.org/2000/svg" width="35%" height="35%" fill="currentColor" class="bi bi-x-circle-fill text-danger" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
    </svg>
    <% end %>
  </div>

  <% else %>

  <div class="col text-center border-end-permission">
    <h3>View the <%= @permission.permissible.title %> <%= @permission.permissible_type %></h3>
    <% if @permission.canRead %>
    <svg xmlns="http://www.w3.org/2000/svg" width="35%" height="35%" fill="currentColor" class="bi bi-check-circle-fill text-success" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </svg>
    <% else %>
    <svg xmlns="http://www.w3.org/2000/svg" width="35%" height="35%" fill="currentColor" class="bi bi-x-circle-fill text-danger" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
    </svg>
    <% end %>
  </div>
  <div class="col text-center">
    <h3>Update the <%= @permission.permissible.title %> <%= @permission.permissible_type %></h3>
    <% if @permission.canUpdate %>
    <svg xmlns="http://www.w3.org/2000/svg" width="35%" height="35%" fill="currentColor" class="bi bi-check-circle-fill text-success" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </svg>
    <% else %>
    <svg xmlns="http://www.w3.org/2000/svg" width="35%" height="35%" fill="currentColor" class="bi bi-x-circle-fill text-danger" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
    </svg>
    <% end %>
  </div>
  <% end %>
</div>

<div class="text-center pt-3">
  <%= link_to 'Edit Permission', edit_auth_permission_path(@permission), class: "btn btn-primary" %>
  <%= link_to 'Back', auth_permissions_path, class: "btn btn-primary" %>
</div>