<h1 class="text-center">Events</h1>
<!--
<div class="row mt">
  <% @events.each do |event| %>
  <div class="col-xl-3 col-lg-4 col-md-6 photoContainer mt-4">
    
    
    <div>
      <h5 class="text-center"><%= event.title %></h5>
      <p class="text-center">Start: <%= event.eventstart.strftime("%B %d, %Y %l:%M %p") %></p>
      <p class="text-center">End: <%= event.eventend.strftime("%B %d, %Y %l:%M %p") %></p>
      <div class="text-center">
        <%= link_to 'View', auth_event_path(event), class: "btn btn-outline-primary" %>
        <%= link_to 'Edit', edit_auth_event_path(event), class: "btn btn-outline-warning" %>
        <%= link_to 'Delete', auth_event_path(event), class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    
  </div>
  <% end %>
</div>

<div class="text-center p-3">
  <%= link_to 'Back to Control Panel', auth_site_panel_path, class: "btn btn-primary" %>
  <%= link_to 'New Event', new_auth_event_path, class: "btn btn-primary" %>
</div>
-->


<div class="row">
	<% @events.each do |event| %>
		<div class="card border-primary mb-3 controlPanelCards w-25 m-3">
			<div class="card-body">
				<h3 class="card-title"><%= event.title %></h3>
				<hr>


				<h5>Starts: <%= event.eventstart.strftime("%B %d, %Y %l:%M %p") %></h5>
				<h5>Ends: <%= event.eventend.strftime("%B %d, %Y %l:%M %p") %></h5>


				<hr>

				<div class="text-center">
					<%= link_to 'View', auth_event_path(event), class: "btn btn-outline-primary" %>
					<%= link_to 'Edit', edit_auth_event_path(event), class: "btn btn-outline-warning" %>
					<%= link_to 'Delete', auth_event_path(event), class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
				</div>
			</div>

		</div>
	<% end %>

	<div class="text-center p-3">
		<%= link_to 'Back to Control Panel', auth_site_panel_path, class: "btn btn-primary" %>
		<%= link_to 'New Event', new_auth_event_path, class: "btn btn-primary" %>
	</div>


</div>