<h1 class="text-center"><%= @event.title %></h1>

<ul class="list-group mb-3">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Title:</div>
      <%= @event.title %>
    </div>
  </li>

  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Eventstart:</div>
      <%= @event.eventstart.strftime("%B %d, %Y %l:%M %p") %>
    </div>
  </li>

  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Eventend:</div>
      <%= @event.eventend.strftime("%B %d, %Y %l:%M %p") %>
    </div>
  </li>

  <% if @event.photo.attached? %>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Photo:</div>
        <%= image_tag @event.photo, class: "photoContainer", alt: "Photo of "+@event.title %>
      </div>
    </li>
  <% else %>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Photo:</div>
        <p>No photo is attached</p>
      </div>
    </li>
  <% end %>

  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Details:</div>
      <%= raw @event.details %>
    </div>
  </li>
</ul>

<div class="text-center">
  <%= link_to 'Edit', edit_auth_event_path(@event), class: "btn btn-primary" %>
  <%= link_to 'Back', auth_events_path, class: "btn btn-primary" %>
</div>