<%= render "devise/shared/error_messages", resource: resource %>
<div class="card mx-auto mt-5" style="max-width: 30rem;">
  <div class="card-body">
    <h5 class="text-center text-primary">Change your password</h2>
    <hr style="margin-top: 0.075rem;">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <div class="form-floating">
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "newpass", class: "form-control", required: true %>
        <%= f.label :password, "New password" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
      </div>
      <div class="form-floating mt-2">   
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Pass Confirmation", class: "form-control", required: true %>
        <%= f.label :password_confirmation, "Confirm new password" %><br />
      </div>
      <div class="row">
        <div class="col">
          <%= f.submit "Change my password", class: "btn btn-primary w-100", style: "font-weight: 700; font-size: 1.2rem;  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;" %>
        </div>
      </div>
    <% end %>   
  </div>
</div>
