<h1 class="text-center">Roles</h1>

<div class="row">
<% @roles.each do |role| %>
<div class="col-lg-3 d-flex justify-content-center mb-3">
  <div class="card bootstrapCard mb-3">
    <div class="card-body">
      <h5 class="card-title text-center"><%= role.title %></h5>
      <p class="card-text">
        <div class="text-center">
          <%= link_to 'View', auth_role_path(role), class: "btn btn-outline-primary" %>
          <%= link_to 'Edit', edit_auth_role_path(role), class: "btn btn-outline-warning" %>
          <%= link_to 'Delete', auth_role_path(role), class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </p>
    </div>
  </div>
</div>
<% end %>
</div>

<div class="text-center p-3">
  <%= link_to 'Back to Control Panel', auth_site_panel_path, class: "btn btn-primary" %>
  <%= link_to 'New Role', new_auth_role_path, class: "btn btn-primary" %>
</div>